@model CarRenTal.Models.DonHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Edit</h1>

<h4>DonHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaXe" class="control-label"></label>
                <select asp-for="MaXe" class="form-control" asp-items="ViewBag.MaXe"></select>
                <span asp-validation-for="MaXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaUs" class="control-label"></label>
                <select asp-for="MaUs" class="form-control" asp-items="ViewBag.MaUs"></select>
                <span asp-validation-for="MaUs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiThanhToan" class="control-label"></label>
                <select asp-for="MaLoaiThanhToan" class="form-control" asp-items="ViewBag.MaLoaiThanhToan"></select>
                <span asp-validation-for="MaLoaiThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayLap" class="control-label"></label>
                <input asp-for="NgayLap" class="form-control" />
                <span asp-validation-for="NgayLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuNgay" class="control-label"></label>
                <input asp-for="TuNgay" class="form-control" />
                <span asp-validation-for="TuNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DenNgay" class="control-label"></label>
                <input asp-for="DenNgay" class="form-control" />
                <span asp-validation-for="DenNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrangThanhToan" class="control-label"></label>
                <input asp-for="TinhTrangThanhToan" class="form-control" />
                <span asp-validation-for="TinhTrangThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
